<div class="container">
    <section class="about">
        <h4>OUR STORY & PHILOSOPHY</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum dolore sunt quasi optio quis sit accusamus.
            Voluptate enim quidem sed ullam. Impedit dignissimos assumenda non quaerat ducimus inventore ad? Unde.Dicta
            eligendi necessitatibus blanditiis officiis atque fuga animi eaque laborum? Ab deleniti officia doloremque
            voluptatem quis, iusto tempore, atque neque est sunt impedit omnis provident tempora, perspiciatis
            similique!
            Officiis, sit?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum dolore sunt quasi optio quis sit accusamus.
            Voluptate enim quidem sed ullam. Impedit dignissimos assumenda non quaerat ducimus inventore ad? Unde.Dicta
            eligendi necessitatibus blanditiis officiis atque fuga animi eaque laborum? Ab deleniti officia doloremque
            voluptatem quis, iusto tempore, atque neque est sunt impedit omnis provident tempora, perspiciatis
            similique!
            Officiis, sit?</p>
    </section>
    <div class="aboutImg">
        <img src="assets/Craftsman.jpg" alt="">
    </div>
</div>