<div class="container">


    <div class="row text-center text-lg-left">
        <div class="col-lg-4 col-md-4 col-sm-6 text-center mb-2 mt-4">
            <a href="#" class="d-block mb-4 h-75">
                <img class="img-fluid img-thumbnail" src="assets/nighttable.jpg" alt="">
            </a>
            <h6>Night table</h6>
            <p>9500 din</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 text-center mb-2 mt-4">
            <a href="#" class="d-block mb-4 h-75">
                <img class="img-fluid img-thumbnail" src="assets/radniSto.jpg" alt="">
            </a>
            <h6>Table</h6>
            <p>40000 din</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 text-center mb-2 mt-4">
            <a href="#" class="d-block mb-4 h-75">
                <img class="img-fluid img-thumbnail" src="assets/krevet.jpg" alt="">
            </a>
            <h6>Sofa</h6>
            <p>40000 din</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 text-center mb-2 mt-4">
            <a href="#" class="d-block mb-4 h-75">
                <img class="img-fluid img-thumbnail" src="assets/stolica_sto.jpg" alt="">
            </a>
            <h6>Chair</h6>
            <p>5000 din</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 text-center mb-2 mt-4">
            <a href="#" class="d-block mb-4 h-75">
                <img class="img-fluid img-thumbnail" src="assets/kitchen.jpg" alt="">
            </a>
            <h6>Kitchen</h6>
            <p>89000 din</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 text-center mb-2 mt-4">
            <a href="#" class="d-block mb-4 h-75">
                <img class="img-fluid img-thumbnail" src="assets/bedRoom.jpg" alt="">
            </a>
            <h6>Bedroom</h6>
            <p>350000 din</p>
        </div>
        <button type="button" class="btn btn-outline-dark mt-2" (click)="prebaciShop()">Load more</button>
    </div>

</div>